
body
{
	font-family: tahoma;
	font-size: 11pt;
	line-height: 1.2em;
	margin: 0;
	padding: 12px;
}

h1
{
	background-color: Navy;
	color: White;
	
	margin: 0;
	padding: 16px;
	margin: -12px -12px 20px -12px;
}

table
{
	border: 1px solid Gray;
	border-collapse: collapse;
	
	text-align: left;
	
	width: 60%;
	float: left;
}

td, th
{
	padding: 8px 12px;
	border-bottom: 1px solid Gray;
}

th
{
	background-color: #EEEEEE;
}


caption
{
	padding: 8px 12px;
	border: 1px solid Gray;
	border-bottom: none;
	background-color: #E0E0E0;
	
	font-weight: bold;
}

tfoot
{
	background-color: #EEEEEE;
	font-weight: bold;	
}


form
{
	border: 1px solid Gray;
	border-radius: 5px;
	
	background-color: #EEEEEE;
	
	padding: 16px;	
	
	float: right;	
	width: 30%;	
}

label
{
	display: block;
	float: left;
	clear: both;
	
	width: 35%;
}

input
{
	font-size: 11pt;
	display: block;
	float: right;	
	width: 60%;
}

input[type="button"]
{
	font-weight: bold;	
	padding: 5px;
}